<!DOCTYPE html>
<html>
	<head>
		<title>JS Test</title>
		<script src="//connect.facebook.net/en_US/all.js"></script>
  		<script src="http://code.jquery.com/jquery-latest.js"></script>
	</head>
 
	<body>
		<div id="fb-root"></div>
		<script>
			window.fbAsyncInit = function() {
				FB.init({
					appId      : 'YOUR APPLICATION ID', // Insert your App ID here
					status     : true, // check login status
					cookie     : true, // enable cookies to allow the server to access the session
					oauth      : true, // enable OAuth 2.0
					xfbml      : true  // parse XFBML
				});
 
			    /*** Initialization code here ***/
 
				// Get the users login status
				FB.getLoginStatus(function(response) {
					if (response.authResponse) {
						// Logged in and connected user, someone you know
						console.log("User is logged in");
						loginToFacebook();  // Pass directly to login so we can get the users name and email (at this point we only have the facebook ID)
					} else {
						// No user session available, someone you dont know
						console.log("User is NOT logged in");				
						showLogin();
					}
				});
			};  // End Facebook async login
 
		  // Load the SDK Asynchronously
			(function(d){
				var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
				js = d.createElement('script'); js.id = id; js.async = true;
				js.src = "//connect.facebook.net/en_US/all.js";
				d.getElementsByTagName('head')[0].appendChild(js);
			}(document));
		</script>		
 
		<script>
			/*** USER TRIGGERED JS ***/
			var username = '';
			var userid = '';
			var userEmail = '';	
 
			function loginToFacebook() {
				console.log('Login to facebook');
				// Login
				FB.login(function(response) {
					if (response.authResponse) {
						console.log('Welcome!  Fetching your information.... ');
						FB.api('/me', function(response) {
							console.log('Good to see you, ' + response.name + ', ' + response.email + '.');
							username = response.name;
							userid = response.id;
							userEmail = response.email;
 
							showLobby(response.id, response.name, response.email);
						});
					} else {
						console.log('User cancelled login or did not fully authorize.');
						showErrorScreen();
					}
				}, {scope: 'email'});
			}
 
			function showLogin() {
				// Get DOM elements to show/hide
				var lobby = document.getElementById("lobby");  
				var login = document.getElementById("login");  
 
				lobby.style.display = 'none';  // Show the lobby
				login.style.display = 'block	';  // Show the lobby
			}
 
			function showLobby(facebookID, name, email) {
				console.log('showLobby -> ' + facebookID, name, email);
 
				// Get DOM elements to show/hide
				var lobby = document.getElementById("lobby");  
				var login = document.getElementById("login");  
				lobby.style.display = 'block';  // Show the lobby
				login.style.display = 'none';  // Show the lobby				
			}
			function showErrorScreen() {
				console.log('showErrorScreen');
			}
			</script>
 
		<div id="login" style="display:none;">
			<a href="#" onClick="loginToFacebook()">Login to the application</a>
		</div>
 
		<div id="lobby" style="display:none;">
			Game screen goes here
		</div>
	</body>
</html>
